.root {
    -fx-font-size: 14pt;
    -fx-font-family: monospaced;
    -fx-padding: 10;
}

HBox {
    -fx-alignment: baseline-left;
    -fx-spacing: 6;
}

VBox {
    -fx-spacing: 6;
}

Label, BlinkingLabel {
    -fx-padding: 6 10 6 10;
    -fx-border-color: grey;
    -fx-border-radius: 2;
}

BlinkingLabel:blink {
    -fx-text-fill: red;
}

Button {

}

ListView {

}
